In [4]:
import pandas as pd

file = "dataset_csv.csv"

In [10]:
df = pd.read_csv (
    file, sep=";", names=["absolute path", "relative path", "class name"]
)
df = df.drop(["relative path"], axis=1)
df

                                          absolute path class name
0     C:\Users\sgold\VS Code projects\dataset\cat\00...        cat
1     C:\Users\sgold\VS Code projects\dataset\cat\00...        cat
2     C:\Users\sgold\VS Code projects\dataset\cat\00...        cat
3     C:\Users\sgold\VS Code projects\dataset\cat\00...        cat
4     C:\Users\sgold\VS Code projects\dataset\cat\00...        cat
...                                                 ...        ...
2322  C:\Users\sgold\VS Code projects\dataset\dog\14...        dog
2323  C:\Users\sgold\VS Code projects\dataset\dog\14...        dog
2324  C:\Users\sgold\VS Code projects\dataset\dog\14...        dog
2325  C:\Users\sgold\VS Code projects\dataset\dog\14...        dog
2326  C:\Users\sgold\VS Code projects\dataset\dog\14...        dog

[2327 rows x 2 columns]

In [12]:
def new(row) :
    if row["class name"] == "cat":
        val = 0
    else:
        val = 1
    return val


df["mark"] = df.apply(new, axis = 1)
df

                                          absolute path class name  mark
0     C:\Users\sgold\VS Code projects\dataset\cat\00...        cat     0
1     C:\Users\sgold\VS Code projects\dataset\cat\00...        cat     0
2     C:\Users\sgold\VS Code projects\dataset\cat\00...        cat     0
3     C:\Users\sgold\VS Code projects\dataset\cat\00...        cat     0
4     C:\Users\sgold\VS Code projects\dataset\cat\00...        cat     0
...                                                 ...        ...   ...
2322  C:\Users\sgold\VS Code projects\dataset\dog\14...        dog     1
2323  C:\Users\sgold\VS Code projects\dataset\dog\14...        dog     1
2324  C:\Users\sgold\VS Code projects\dataset\dog\14...        dog     1
2325  C:\Users\sgold\VS Code projects\dataset\dog\14...        dog     1
2326  C:\Users\sgold\VS Code projects\dataset\dog\14...        dog     1

[2327 rows x 3 columns]