In [4]:
import pandas as pd

file = "dataset_csv.csv"

In [10]:
df = pd.read_csv (
    file, sep=";", names=["absolute path", "relative path", "class name"]
)
df = df.drop(["relative path"], axis=1)

df

                                          absolute path class name
0     C:\Users\sgold\VS Code projects\dataset\cat\00...        cat
1     C:\Users\sgold\VS Code projects\dataset\cat\00...        cat
2     C:\Users\sgold\VS Code projects\dataset\cat\00...        cat
3     C:\Users\sgold\VS Code projects\dataset\cat\00...        cat
4     C:\Users\sgold\VS Code projects\dataset\cat\00...        cat
...                                                 ...        ...
2322  C:\Users\sgold\VS Code projects\dataset\dog\14...        dog
2323  C:\Users\sgold\VS Code projects\dataset\dog\14...        dog
2324  C:\Users\sgold\VS Code projects\dataset\dog\14...        dog
2325  C:\Users\sgold\VS Code projects\dataset\dog\14...        dog
2326  C:\Users\sgold\VS Code projects\dataset\dog\14...        dog

[2327 rows x 2 columns]

In [12]:
def new(row) :
    if row["class name"] == "cat":
        val = 0
    else:
        val = 1
    return val


df["mark"] = df.apply(new, axis = 1)

df

                                          absolute path class name  mark
0     C:\Users\sgold\VS Code projects\dataset\cat\00...        cat     0
1     C:\Users\sgold\VS Code projects\dataset\cat\00...        cat     0
2     C:\Users\sgold\VS Code projects\dataset\cat\00...        cat     0
3     C:\Users\sgold\VS Code projects\dataset\cat\00...        cat     0
4     C:\Users\sgold\VS Code projects\dataset\cat\00...        cat     0
...                                                 ...        ...   ...
2322  C:\Users\sgold\VS Code projects\dataset\dog\14...        dog     1
2323  C:\Users\sgold\VS Code projects\dataset\dog\14...        dog     1
2324  C:\Users\sgold\VS Code projects\dataset\dog\14...        dog     1
2325  C:\Users\sgold\VS Code projects\dataset\dog\14...        dog     1
2326  C:\Users\sgold\VS Code projects\dataset\dog\14...        dog     1

[2327 rows x 3 columns]

In [14]:
import cv2

In [15]:
def height(row) :
    image = cv2.imread(row["absolute path"])
    value = image.shape
    
    return value[0]

def width(row) :
    image = cv2.imread(row["absolute path"])
    value = image.shape
    
    return value[1]

def depth(row) :
    image = cv2.imread(row["absolute path"])
    value = image.shape
    
    return value[2]

df["height"] = df.apply(height, axis = 1)
df["width"] = df.apply(width, axis = 1)
df["depth"] = df.apply(depth, axis = 1)

df

,absolute path,class name,mark,height,width,depth
0,C:\Users\sgold\VS Code projects\dataset\cat\00...,cat,0,320,382,3
1,C:\Users\sgold\VS Code projects\dataset\cat\00...,cat,0,319,480,3
2,C:\Users\sgold\VS Code projects\dataset\cat\00...,cat,0,300,480,3
3,C:\Users\sgold\VS Code projects\dataset\cat\00...,cat,0,320,480,3
4,C:\Users\sgold\VS Code projects\dataset\cat\00...,cat,0,320,480,3
...,...,...,...,...,...,...
2322,C:\Users\sgold\VS Code projects\dataset\dog\14...,dog,1,320,470,3
2323,C:\Users\sgold\VS Code projects\dataset\dog\14...,dog,1,320,320,3
2324,C:\Users\sgold\VS Code projects\dataset\dog\14...,dog,1,320,463,3
2325,C:\Users\sgold\VS Code projects\dataset\dog\14...,dog,1,300,480,3
2326,C:\Users\sgold\VS Code projects\dataset\dog\14...,dog,1,320,309,3

In [16]:
df.describe()

              mark       height        width   depth
count  2327.000000  2327.000000  2327.000000  2327.0
mean      0.589600   310.744306   434.128492     3.0
std       0.492012    15.759708    76.113185     0.0
min       0.000000   240.000000   148.000000     3.0
25%       0.000000   300.000000   427.000000     3.0
50%       1.000000   320.000000   480.000000     3.0
75%       1.000000   320.000000   480.000000     3.0
max       1.000000   320.000000   480.000000     3.0